.Accordion-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 768px) {
    .Accordion-div {
        align-items: normal;
    }
}