.header-display {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
  }

  .anchors-text {
    font-weight: bold;
  }

  #Accueil:hover, #A_propos:hover {
    text-decoration: underline;
  }

  .anchor {
    text-decoration: none;
    color: black;
  }

  .logo {
    padding-left: 50px;
  }
  
  @media (max-width: 768px) {
    .logo {
      height: 50px;
      padding-left: 20px;
    }
  
    .header-display {
      justify-content: unset;
      align-items: center;
      gap: 20px;
      padding: 10px 0px 10px 0px;
    }
  
    .anchors-text {
      font-size: 14px;
    }
  }