.Footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-color: black;
    color: white;
    padding-top: 30px;
}

.footer-logo {
    height: 30px;
}