.Red {
    color: Red;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text404 {
   font-size: 200px;
   font-weight: bold;
}

.error {
    font-weight: bold;
    margin-top: -150px;
    margin-bottom: 75px;
}

.error-anchor {
    color: black;
}

@media (max-width: 768px) {
    .text404 {
        font-size: 100px;
    }

    .error {
        margin-top: 0px;
        color: black;
    }
}