.Accordions {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 75%;
  }

  .Accordion-host-div {
    display: flex;
    gap: 50px;
    margin: 0px 100px 50px 100px;
}
  
  .Accordion-title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    
  }
  
  .Accordion-title:hover,
  .active .Accordion-title {
    cursor: pointer; 
  }
  
  .Accordion-icon {
    transition: transform 0.5s ease;
    font-size: 35px;
  }

  .rotate {
    transform: rotate(180deg);
  }
  
  .Accordion-content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all .2s ease-in;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .active .Accordion-content {
    visibility: visible;
    height: auto;
    overflow: visible;
    padding-top: 1rem;
    opacity: 1; 
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  @media (max-width: 768px) {

    .Accordion-host-div {  
      flex-direction: column;
      gap: 0px;
      margin: 0px 0px;
    }
    
    .Accordions {
      width: 85%;
    }

    .Accordion-title {
        height: 20px;
        width: 100%;
        transform: translate(15px, -20px);
    }

    .active .Accordion-content {
        padding: 0rem;
        margin-left: 25px;
        padding-top: 0rem;
    }
}