.banner {
    display: flex;
    justify-content: center;
    object-fit: contain;
    height: 250px;
    margin: 0px 100px;
}

.banner-img {
    z-index: 1000;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.filter {
    filter: brightness(40%);
}

.text {
    z-index: 2000;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transform: translateY(50px);
    text-shadow: black 5px 0 10px;
}

@media (max-width: 768px) {
    .banner {
        height: 110px;
        margin: 0px 20px ;
    }

    .text {
        font-size: 25px;
        transform: translateY(10px);
    }
}